*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main{
    background-color: aqua;
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-50%,50%);
    height: 150px;
    width: 336px;
    
    

}

img{
    width: 336px;
    height: 152px;
    
}

